<!-- When use underscore '_' it's a parcial. so we can use render 'path/file' -->

<header class="navbar navbar-fixed-top navbar-light " id="navbar" >
  <div >
    <div class="col-sm-2">
      <ul class="nav navbar-nav navbar-left">
        <li><%= link_to image_tag("logo_wayv2.png"), '/' %></li>
        <a style="margin: 10px;"><%= link_to "teste", '/test' %></a>
      </ul>
    </div>
    <nav class="col-sm-10">
      <ul class="nav navbar-nav navbar-right">
        
      </ul>
    </nav>
  </div>
</header>