
<div class="container" data-controller= "testController">
	<form>
	  <div class="form-group">
	    <label for="formControlRange">Example Range input</label>
	    <input type="range" class="form-control-range" style="width: 300px" id="progress" min="0" max="100" step="25" data-target="testController.progress" data-action="click->testController#greet">
	  </div>
	</form>
</div>



<div>
	
	<input class="form-control" type="number" name="number" style="width: 100px">
</div>


<!-- data-action="click->listController#deleteList" -->