/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
#cabecalho{
    background-color: white; /*Cor de fundo branca*/
    width: 100%; /*Ocupando 100% da largura total destinada para o corpo*/
    height: 60px;/*Altura de 120 pixels*/    
}

body {
    margin: auto; /*zero de margen e centralizado automativamente*/
    width: 100%; /*Largura ocupando 90% da área total da tela em que a página será exibida*/
    background-color: lightblue; /*Cor de fundo azul claro*/
}

