

#left {
    background: white;
    border-radius: 10px;
    padding: 10px;
    width: 75%;
    margin: 2%;/*Margen superior com 1 pixel*/
    float: left;/*propriedade indicando que a Área flutuará a esquerda*/
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.473)/* coloca uma leve sombra escuta */
}



#divSelect {
    width: 200px;
    float: left;
}


#lista {
    width: 150px;
}
